body {
    /* Original background, videopage.css */
    background: url("../img/background.jpg")
}


/*nav bar*/

nav a {
    display: block;
}

.navbar {
    min-height: 80px;
    box-shadow: 1px 1px 50px #000;
}

.navbar-nav>li>a {
    color: #fff;
}

.navbar-brand {
    padding: 24px 20px;
    height: 80px;
}

.navbar-header img {
    height: 32px;
    width: auto;
}


/*section*/

section {
    padding: 0px 0px 50px 0px;
}

section h2 {
    color: #fff;
    line-height: 1.3;
    padding-bottom: 20px;
}


/*video-area*/

#video-area {
    margin-top: 100px;
}


/*subtitle*/

#subtitle_area .panel {
    overflow-x: hidden;
    overflow-y: scroll;
}

#subtitle_area .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

#subtitle_area td {
    border: none;
}

#subtitle_area th {
    border: none;
}

.subtitle {
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
    font-size: 1.2em;
    padding: 5px 0px;
    margin-left: 10px;
}

#video-area a:link,
a:visited {
    color: #333;
    text-decoration: none;
    display: inline-block;
}

#video-area a:hover,
a:active {
    color: #777;
}

#video-area td {
    text-align: left;
    vertical-align: top;
}

@media (min-width: 1200px) {
    #subtitle_area .panel {
        height: 366px;
    }
}

@media (max-width: 1199px) {
    #subtitle_area .panel {
        height: 300px;
    }
}

@media (max-width: 992px) {
    #subtitle_area {
        margin-top: 10px;
    }
}


/*playlist*/

#playlist .panel-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
}

#playlist tr:hover {
    cursor: pointer
}

#playlist td:first-child {
    vertical-align: middle;
}

#playlist td {
    border: none;
}

#playlist th {
    border: none;
}

#playlist .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

#playlist .playing {
    background-color: #ededed;
}

.video-title {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}



/*new-video*/

#new_video {
    padding-bottom: 50px;
}


/*new-video-carousel*/

.thumbnail p {
    font-weight: 500;
   line-height: 1.5em;
}

.caption-title {
    height: 3em;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 5px;
}

.minw {
    min-width: 75%
}


/*new-video-hidden-title*/

@media (min-width: 768px) {}


/*footer*/
/*default value*/
/*
footer {
    padding-bottom: 100px;
}
*/

.tooltip-inner {
    max-width: 245px;
    /* If max-width does not work, try using width instead */
    
}

/* Change color of link in video title */
.caption-title a {
    color: #333 !important;
}


/* footer style */
footer.nb-footer {
    background: #333333;
    border-top: 4px solid #b78c33; 
}
footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; 
}
    
footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; 
}
    
footer.nb-footer .about .social-media {
    margin-top: 15px;
}
    
footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}
    
footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33; 
}

footer.nb-footer .footer-info-single {
    margin-top: 30px; 
}
    
footer.nb-footer .footer-info-single .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px; 
}
    
footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #cfd8dc;
    padding: 2px 0; 
}
    
footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33; 
}
    
footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #cfd8dc; 
}
    
footer.nb-footer .copyright {
    margin-top: 15px;
    background: #2b2b2b;
    padding: 7px 0;
    color: #fff; 
}
    
footer.nb-footer .copyright p {
    text-align: center;
    margin: 0;
    padding: 0; 
}

