@font-face {
    font-family: 'gandhiserifregular';
    src: url('../fonts/booktype/gandhiserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/booktype/gandhiserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gandhiserifbold';
    src: url('../fonts/booktype/gandhiserif-bold-webfont.woff2') format('woff2'),
         url('../fonts/booktype/gandhiserif-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.able-transcript {
  font-family: "gandhiserifregular", sans-serif;
  font-size: 18px;     
}